{% extends 'base/base.html' %}

{% block content %}
    <div class="queries-list-wrapper">
        <ul class="queries-list">
           <li><a href="queries/1">Перечень зданий фотоцентра</a></li>
            <li><a href="queries/2">Перечень заказов</a></li>
            <li><a href="queries/3">Перечень и количество заказов на разные типы услуг</a></li>
            <li><a href="queries/4">Сумма выручки заказов(по зданию, срочности)</a></li>
            <li><a href="queries/5">Перечень и количество отпечатанных фотографий(по зданию, срочности)</a></li>
            <li><a href="queries/6">Перечень и количество проявленных фотоплёнок(по зданию, срочности)</a></li>
            <li><a href="queries/7">Перечень поставщиков(можно указать обьем)</a></li>
            <li><a href="queries/8">Перечень и количество клиентов(возможен фильтр по скидке)</a></li>
            <li><a href="queries/9">Сумма выручки с продажи товаров по заказам</a></li>
            <li><a href="queries/10">Фототовары пользующие наибольшим спросом, их фирма</a></li>
             <li><a href="queries/11">Перечень реализованных фототоваров</a></li>
             <li><a href="queries/12">Перечень рабочих мест фотоцентра</a></li>
        </ul>
    </div>

{% endblock %}