{% extends 'pages/queries/base.html' %}

{% block query-name %}
    Получить перечень поставщиков в целом по фотоцентру, поставщиков отдельных видов<br>
    фототоваров, сделавших поставки в некоторый период <br>
    поставки определенного объема.
{% endblock %}

{% block params %}
    <label>
        Выбор Товара:
        <select name="item" id="">
            <option value="">Все товары</option>
            {% for item in items %}
                <option value="{{ item.id }}">{{ item }}</option>
            {% endfor %}
        </select>
    </label>
    {% include 'pages/queries/dates_range.html' %}
    <label>
        Обьём
        <input type="number" value="0" name="volume" min="0">
    </label>
{% endblock %}

