.edit-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.input-label {
  margin-top: 3%;
  margin-right: 10px;
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea,
  input[type="file"] {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 200px;
  }
}

.styled-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  width: 200px;
  margin-top: 3%;

  &:hover {
    background-color: #0056b3;
  }
}